<%- include('../partials/header') %>
<h1>Flights</h1>
<% flights.forEach(function(flight){ %>
    <div id="index-flights">
        <h3 id="flight-number">Flight Number: <%=flight.flightNo%></h3>
        <p><span class="label">Airline:</span> <%=flight.airline%></p>
        <p><span class="label">Airport:</span> <%=flight.airport%></p>
        <p><span class="label">Number:</span> <%=flight.flightNo%></p>
        <p><span class="label">Departs:</span> <%= flight.departs%> </p>
        <a id="details" href="/flights/<%= flight._id %>">Details</a>
    </div>
<%})%>